<p id="notice"><%= notice %></p>

<p>
  <strong>Move:</strong>
  <%= @powerlifting.move %>
</p>

<p>
  <strong>Result:</strong>
  <%= @powerlifting.result %>
</p>

<%= link_to 'Edit', edit_powerlifting_path(@powerlifting) %> |
<%= link_to 'Back', powerliftings_path %>
